<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
>
<head>
    <title>Club Detail</title>
    <style>

        .btn {
            display: inline-block;
            font-weight: 400;
            color: #212529;
            text-align: center;
            vertical-align: middle;
            cursor: pointer;
            background-color: #818b9a;
            border: 1px solid transparent;
            padding: .375rem .75rem;
            font-size: 1rem;
            line-height: 1.5;
            border-radius: .25rem;
            transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
            margin-top: 20px; /* Добавлен отступ сверху */
        }
        .btn:hover {
            color: #ffffff;
            background-color: #9a9a9a;
            border-color: #bbb4b4;
        }
    </style>
</head>
<body class="d-flex flex-column">
    <section layout:fragment="body" >
        <!-- Page header with logo and tagline-->
        <header class="py-5 bg-light border-bottom mb-4">

        </header>
        <div class="container">
            <div class="row">
                <!-- Blog entries-->
                <div class="col-lg-8">
                    <!-- Featured blog post-->
                    <div class="club-info">
                        <a href="#!"><img class="club-photo" th:src="${club.photoUrl}" alt="Club Photo" /></a>
                        <div class="club-details" style="font-family: Arial, sans-serif; color: #333;">
                            <h2 class="club-title" style="font-size: 2em; font-weight: bold;">Information:</h2>
                            <p class="club-text" th:text="'Club tittle: '+${club.title}" style="font-size: 1.2em; line-height: 1.5;"></p>
                            <p class="club-text" th:text="'About this club: '+${club.content}" style="font-size: 1.2em; line-height: 1.5;"></p>
                            <p class="club-city" th:text="${club.city != null ? 'City: ' + club.city : 'City: undefined'}" style="font-size: 1.2em; line-height: 1.5;"></p>
                            <span th:if="${user.hasAdminRole(user.roles) or user.id == club.createdBy.id}">
                            <p class="club-owner" th:text="${club.city != null ? 'Owner: ' + club.createdBy.username : 'City: undefined'}" style="font-size: 1.2em; line-height: 1.5;"></p>
                            </span>

                            <div th:if="${user.hasAdminRole(user.roles) or user.id == club.createdBy.id}" style="margin-bottom: 6px">
                                <a class="btn btn-primary" th:href="@{/events/{clubId}/new(clubId = ${club.id})}">Create Event</a>
                                <a class="btn btn-primary" th:href="@{/clubs/{clubId}/coupon/create(clubId = ${club.id})}">Create Coupon</a>
                                <a class="btn btn-primary" th:href="@{/clubs/{clubId}/delete(clubId = ${club.id})}">Delete Club</a>
                            </div>

                        </div>
                    </div>
                </div>
                <!--

                <div class="col-lg-4" style="position: static; right: 20px; top: 100px;">

                    <div class="club mb-4">
                        <div class="card-header">Search</div>
                        <div class="card-body">
                            <div class="input-group">
                                <input class="form-control" type="text" placeholder="Enter search term..." aria-label="Enter search term..." aria-describedby="button-search" />
                                <button class="btn btn-primary" id="button-search" type="button">Go!</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
             -->
            <hr style="border: 2px solid #ccc; border-color: #032738">

            <h2 class="cupon-title" style="font-size: 2em; font-weight: bold;">Coupons</h2>

            <div class="club-cupons" style="display: flex; flex-wrap: wrap;">
                <div th:each="cupon : ${coupons}" class="cupon-card" style="border: 10px solid #ccc; border-color: #032738; padding: 10px; margin-bottom: 10px; border-radius: 10px; width: 300px; height: 270px; margin-right: 10px;">
                    <h3 class="cupon-tittle" th:text="${cupon.type}" style="font-size: 1.5em; font-weight: bold;"></h3>
                    <p class="cupon-startTime" th:text="${cupon.startTime != null ? 'Start time: ' + cupon.startTime : 'Start time: undefined'}" style="font-size: 1.2em; line-height: 1.5;"></p>
                    <p class="cupon-endTime" th:text="${cupon.endTime != null ? 'End time: ' + cupon.endTime : 'End time: undefined'}" style="font-size: 1.2em; line-height: 1.5;"></p>
                    <div th:if="${user.roleId == 1 or user.id == club.createdBy.id}" >
                        <a class="btn btn-primary" th:href="@{/coupons/{cuponId}/delete(cuponId = ${cupon.id})}" style="margin-top: 16px">Delete Coupon</a>
                    </div>

                </div>
            </div>


            <hr style="border: 2px solid #ccc; border-color: #032738">

            <h2 class="cupon-title" style="font-size: 2em; font-weight: bold;">Events</h2>

            <div class="row">
                <div class="col-lg-6">
                    <!-- Blog post-->
                    <div th:each="event :${club.events}" class="card mb-4">
                        <a href="#!"><img class="card-img-top" th:src="${event.photoUrl}" alt="..." /></a>
                        <div class="card-body">
                            <div class="small text-muted" th:text="'Created on ' + ${event.createdOn}"></div>
                            <h2 th:text="${event.name}" class="card-title h4"></h2>
                            <p class="card-text" th:text="'Type: ' + ${event.type}"></p>
                            <a class="btn btn-primary" th:href="@{/events/{eventId} (eventId=${event.id})}">Read more →</a>
                        </div>
                    </div>

                </div>
            </div>

            <hr style="border: 2px solid #ccc; border-color: #032738">

            <!-- Комментарии -->
            <div class="col-lg-8">
                <h2 class="club-title" style="font-size: 2em; font-weight: bold;">Comments</h2>
                <!-- Форма для добавления комментария -->
                <form th:action="@{/comments/{clubId}/save(clubId=${club.id})}" method="post">
                    <textarea name="text" placeholder="Напишите ваш комментарий здесь..." required rows="7" cols="80" style="resize: none;"></textarea>
                    <input type="hidden" th:value="${club.id}" name="club" />
                    <button type="submit" class="btn btn-secondary"style=" margin-bottom: 50px;">Send</button>
                </form>
                <div th:each="comment : ${comments}">
                    <div class="comment" style="border: 1px solid #ccc; padding: 10px; margin-bottom: 10px; border-radius: 5px;">
                        <p class="comment-author" th:text="${comment.author}+':'"  style="font-size: 1.2em; font-weight: bold;"></p>
                        <p class="comment-text" th:text="${comment.text}" style="font-size: 1.2em; line-height: 1.5;"></p>
                    </div>
                </div>

            </div>
        </div>

                    <!-- Pagination-->
                    <nav aria-label="Pagination">
                        <hr class="my-0" />
                        <ul class="pagination justify-content-center my-4">
                            <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">Newer</a></li>
                            <li class="page-item active" aria-current="page"><a class="page-link" href="#!">1</a></li>
                            <li class="page-item"><a class="page-link" href="#!">2</a></li>
                            <li class="page-item"><a class="page-link" href="#!">3</a></li>
                            <li class="page-item disabled"><a class="page-link" href="#!">...</a></li>
                            <li class="page-item"><a class="page-link" href="#!">15</a></li>
                            <li class="page-item"><a class="page-link" href="#!">Older</a></li>
                        </ul>
                    </nav>
                </div>


            <!-- Categories widget-->
                    <div class="card mb-4">
                        <div class="card-header">Categories</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <ul class="list-unstyled mb-0">
                                        <li><a href="#!">Road Runner</a></li>
                                        <li><a href="#!">Trail</a></li>
                                        <li><a href="#!">Marathon</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Side widget-->
                    <div class="card mb-4">
                        <div class="card-header">Side Widget</div>
                        <div class="card-body">You can put anything you want inside of these side widgets. They are easy to use, and feature the Bootstrap 5 card component!</div>
                    </div>
                </div>
            </div>
        </div>

    </section>

</body>
</html>
